@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Pretendard", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: 0;
  word-break: keep-all;
  object-fit: contain;
  list-style: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  color: var(--font-black);
}
:root{
  --main: #EF8523;
  --main-light:#F7C699;
  --font-main:#374435;
  --alert-green : #31A215;
  --alert-amber : #EF8523;
  --alert-red: #F14646;
  --font-black:#363636;
  --font-gray: #787878;
  --bg-gray : #F8F8F8;
  --pure-white : #FFFFFF;
  --line-black:#777777;
  --line-gray: #BABABA;
  --line-light-gray:#EDEDED;
  --bold:700;
  --medium:500;
  --light:200;
  --sub-font-size: 0.8rem;
  --sig-border-16:16px 0;
  --sig-border-8:8px 0;
  --sig-border-4:4px 0;
}

a, input, button, select, textarea{
  text-decoration: none;
  outline-style: none;
  color: inherit;
  border: none;
}
input{
  padding: 8px;
}
.font-gray{
  color: var(--font-gray);
}
.font-main{
  color: var(--main);
}
input, textarea{
  padding: 8px;
  outline-style: solid;  
  outline-width: 1px;
  outline-color: var(--line-light-gray);
  border-radius: 6px;
}
input:focus, textarea:focus{
  filter: drop-shadow(0px 0px 2px var(--main));
  color: var(--font-main)
}
/* 아이콘 active */
.activeIcon span{
    color: var(--main);
    font-weight: var(--bold)
}
.activeIcon svg,.activeIcon p{
    fill: var(--main);
}
.disableIcon svg,.activeIcon p{
  fill: var(--font-gray);
}

/* 폰트 두께 설정 */
.light{
  font-weight: 200;
}
.medium{
  font-weight: 500;
}
.bold {
  font-weight: 700;
}

/* 폰트 크기 설정 */
.sub {
  font-size: 0.8rem;
}
.h4 {
  font-size: 1.2rem;
}
.h3 {
  font-size: 1.4rem;
}
.h2 {
  font-size: 1.6rem;
}
.h1 {
  font-size: 1.8rem;
}
/* 마진 설정 */
.mt-4 {
  margin-top: 4px;
}
.mt-8 {
  margin-top: 8px;
}
.mt-16{
  margin-top: 16px;
}
.mt-36{
  margin-top: 36px;
}

.mb-4{
  margin-bottom: 4px;
}
.mb-8{
  margin-bottom: 8px;
}
.mb-16{
  margin-bottom: 16px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}

.mr-4 {
  margin-right: 4px;
}
.mr-8 {
  margin-right: 8px;
}
.mr-16 {
  margin-right: 16px;
}
.mr-24 {
  margin-right: 24px;
}
.mr-36{
  margin-right: 36px;
}

.ml-4 {
  margin-left: 4px;
}
.ml-8 {
  margin-left: 8px;
}
.ml-16 {
  margin-left: 16px;
}
.ml-24 {
  margin-left: 24px;
}
.ml-36{
  margin-left: 36px;
}

.sig-border-16 {
  border-radius: 16px 0px 16px 0px;
}
.sig-border-8 {
  border-radius: 8px 0px 8px 0px;
}
.sig-border-4 {
  border-radius: 4px 0px 4px 0px;
}

.text-align-center{
  text-align: center;
}

.display-none{
  display: none;
}
.align-center{
  align-items: center;
}
.justify-center{
  display: flex;
  justify-content: center;
}
.space-between{
  display: flex;
  justify-content: space-between;
}
.center{
  text-align: center;
}
.circleNum{
  width:140px
}
.circleNumWrapper{
  flex-flow:Wrap;
}
.width100{
  width:100%
}

.shadow-box{
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
  @media screen and (max-width: 1024px) {
    .circleNumWrapper{
      justify-content:center;
      margin-top:24px;
    }
  }
  @media screen and (max-width: 768px) {
    .justify-center-mobile{
      display: flex!important;
      justify-content: center!important;
    }
  }
  @media screen and (max-width: 465px) {
    .noneForMobile{
      display:none !important;
    }
    .imageForMobole{
      width:100px!important;
      height:100px!important;
    }
  }